.title {
  text-align: center;
}

.list {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
}

.persent {
  font-size: 20px;
  margin-top: 5px;
}
